@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Saira:wght@400;800;900&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
}
.title{
    font-family: 'Saira', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.5px;
}